<!--<div>Hello from App</div>-->
<!--<button class="btn btn-primary btn-sm" (click)="LoadEmailTemplateLoad()">Click for Input</button>-->
<app-design-email-template [TemplateID]="TemplateID" [TemplateEmail]="emailTemplateString" [NewCouponCreated]="createdCoupon" [DiscountSelectedId]="DiscountCouponId" (DiscountCouponCreate)="createCoupon()" (TemplateSave)="onTemplateSave($event)" (TemplateWithEmail)="onTemplateWithEmail($event)"></app-design-email-template>
<!--[TemplateEmail]="emailTemplateString"-->